# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/cssBayan/node_modules
cssBayan/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.editorconfig
.eslintrc
.linthtmlrc
.stylelintrc
package.json
package-lock.json
/cssBayan/.editorconfig
/cssBayan/.eslintrc
/cssBayan/.linthtmlrc
/cssBayan/.stylelintrc
/cssBayan/package.json
/cssBayan/package-lock.json
cssBayan/.editorconfig
cssBayan/.eslintrc
cssBayan/.linthtmlrc
cssBayan/.stylelintrc
cssBayan/package.json
cssBayan/package-lock.json
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
