* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Verdana", sans-serif;
}


.container {
  margin: 2rem auto;
}

@media (max-width: 819px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .container {
    width: 100%;
  }
}

@media (min-width: 820px) and (max-width: 1919px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .container {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .container {
    width: 40%;
  }
}

.accordion-container {
  border-bottom: 0.1rem solid #808080;
}

.container:hover .accordion-header .accordion-plus {
  display: block;
}

.accordion-plus {
  display: none;
  transition: transform 0.5s;
}

.accordion-container:hover .accordion-checkbox:not(:checked) + .accordion-label .accordion-header .accordion-plus {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.accordion-checkbox:checked + .accordion-label .accordion-header .accordion-plus {
  transform: rotate(45deg);
}

.accordion-checkbox {
  display: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-container:hover .accordion-header {
  color: #4080ff;
}

.accordion-content {
  display: flex;
  cursor: pointer;
  align-items: start;
  justify-content: center;
}

.accordion-meme {
  overflow: hidden;
  border-radius: 1rem;
  width: 0;
  height: 0;
  margin-bottom: 0;
  transition: width 0.5s, height 0.5s, margin-bottom 0.5s;
  transition-timing-function: ease-in;
}

.accordion-header:hover + .accordion-content .accordion-meme,
.accordion-content:hover .accordion-meme,
.accordion-checkbox:checked + .accordion-label .accordion-content .accordion-meme {
  width: 20rem;
  max-width: 80%;
  height: auto;
  margin-bottom: 2rem;
  transition: width 0.5s, height 0.5s, padding 0.5s;
}